<?xml version="1.0" ?>
<!--
/**
 * Copyright © Monsoon Consulting. All rights reserved.
 * @license   Open Software License ("OSL") v. 3.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Monsoon\Pwa\Model\ConfigurationInterface" type="Monsoon\Pwa\Model\Configuration" />
</config>
